.container-steps {
    margin: 0px auto 40px auto;
    width: fit-content;
}

.container-steps ul {
    display: flex;
    align-items: center;
    max-width: 384px;
    gap: 8px;
    padding: 20px;
}

.steps-item-container {
    position: relative;
}

.steps-item-container p {
    position: absolute;
    padding-top: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color-muted);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.hr-steps {
    height: 2px;
    background-color: var(--primary-color);
    max-width: 100%;
    min-width: 16px
}

.span-container {
    position: relative;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 3px;
}

.span-container:has(.active) {
    border: 2px solid transparent;
}

.span-container:has(.active)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: var(--primary-color);
    border-left-color: var(--primary-color);
    animation: rotateBorder 3s linear infinite;
    clip-path: polygon(0% 0%,
            50% 0%,
            50% 100%,
            0% 100%);
}

.span-container:has(.active)::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-bottom-color: var(--primary-color);
    border-right-color: var(--primary-color);
    animation: rotateBorder 3s linear infinite;
    clip-path: polygon(50% 0%,
            100% 0%,
            100% 100%,
            50% 100%);
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.steps-items-span {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.active {
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 500;
}

.p-active {
    color: var(--text-color-selected);
    font-weight: 600;
}

.section-step {
    display: none;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

i {
    font-size: 24px;
    color: var(--primary-color);
}

.section-step h3 {
    text-align: center;
    margin-bottom: 56px;
}

main {
    padding: 0px 24px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    width: 100%;
}

.input-form input {
    width: 100%;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.inputs-container {
    gap: 16px 0;
}

.input-form span {
    margin-left: 4px;
}

.submit-button {
    background: linear-gradient(to bottom, var(--primary-color-lighter), var(--primary-color));
    border: none;
    color: var(--white);
    font-size: 16px;
    font: inherit;
    font-weight: 400;
    height: 48px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    margin-top: 16px;
}

.submit-button:hover {
    background: linear-gradient(to bottom, var(--primary-color-lighter-hover), var(--primary-color-hover));
}

input[type="text"] {
    font: inherit;
    border: 1px solid var(--gray);
    padding-left: 16px;
    height: 48px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}

input[type="text"]:focus {
    outline-color: var(--primary-color);
}

input[type="text"]:active {
    outline-color: var(--primary-color);
}

.section-active {
    display: block;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.required-field {
    color: red;
    font-weight: 600;
}
















.switch-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.switch-label {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
    transition: 0.4s;
    border-radius: 26px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider::before {
    transform: translateX(24px);
}

.prev-step_hidden {
    visibility: hidden;
    display: none;
}