.section-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    padding: 88px 24px 72px;
    height: 100dvh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
}

.form h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

.inputs-container,
.input-form {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    gap: 16px 0;
}

.input-form {
    gap: 4px 0;
}

.input-form span {
    margin-left: 4px;
}


input[type="text"],
input[type="password"],
input[type="email"] {
    font: inherit;
    border: 1px solid var(--gray);
    padding-left: 16px;
    height: 48px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline-color: var(--primary-color);
}

input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active {
    outline-color: var(--primary-color);
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    font-size: 14px;
}

.form-actions label {
    display: flex;
    align-items: flex-end;
    gap: 0 4px;
}

.form-actions input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 20px;
    height: 20px;
    border: 2px solid var(--gray);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
}

.form-actions input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.submit-button {
    background: linear-gradient(to bottom, var(--primary-color-lighter), var(--primary-color));
    border: none;
    color: var(--white);
    font-size: 16px;
    font: inherit;
    font-weight: 400;
    height: 48px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.submit-button:hover {
    background: linear-gradient(to bottom, var(--primary-color-lighter-hover), var(--primary-color-hover));
}

.hr-google {
    display: flex;
    align-items: center;
    gap: 0px 8px;
    width: 100%;
    margin-bottom: 24px;
}

.hr-google .hr {
    background-color: var(--gray);
    height: 1px;
    flex: 1;
}

.google-action {
    color: var(--text-color);
    font-size: 16px;
    font: inherit;
    font-weight: 600;
    height: 48px;
    border: 1px solid var(--gray);
    background: var(--white);
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    margin-bottom: 72px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-form-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.action-footer {
    text-align: center;
}


.section-form a {
    font-weight: 500;
    color: var(--primary-color);
}

.section-form a:hover {
    color: var(--primary-color-hover);
}

.section-form a:visited {
    color: var(--primary-color-hover);
}

.password-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.password-field input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--gray, #777);
    cursor: pointer;
    transition: color 0.2s ease;
}

.toggle-password:hover {
    color: var(--primary-color, #007bff);
}


.alert_container {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100dvh;
    transition: all 400ms ease-in-out;
    opacity: 0;
}

.visibility {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.alert_container img {
    margin-bottom: 24px;
    max-width: 150px;
}

.alert_container h4 {
    font-size: 18px;
    margin-bottom: 10px;
}